<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
		<!-- w3c CSS -->
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

		{% load static %}
		<link rel="stylesheet" type="text/css" href={% static "budget/css/budget.css"%}>
		<title>{{ budget.name }}</title>
		<meta charset='utf-8'>
	</head>
	<body>
		<div>
			<a href="/budget/{{year.name}}">上一頁</a>
		</div>
		<h1>{{ budget.name }}份預算表</h1>
		<div class="row">
			<div class="col-sm-4 col-md-4">
				{% include 'budget/debt.html' %}
			</div>
			<div class="col-xs-2 col-md-auto">
				{% include 'budget/deposit.html' %}
			</div>
			<div class="col-xs-3 col-md-auto">
				{% include 'budget/livingcost.html' %}
			</div>
			<div class="col-xs-3 col-md-auto">
				{% include 'budget/backupcost.html' %}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-md-5">
				{% include 'budget/income.html' %}
			</div>
			<div class="col-xs-6 col-md-6">
			<h2>支出</h2>
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="category-tab" data-toggle="tab" href="#category" role="tab" aria-controls="category" aria-selected="true">依分類</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="date-tab" data-toggle="tab" href="#date" role="tab" aria-controls="date" aria-selected="false">依日期</a>
				</li>
			</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="category" role="tabpanel" aria-labelledby="category-tab">
						{% include 'budget/expenses.html' %}
					</div>
					<div class="tab-pane active" id="date" role="tabpanel" aria-labelledby="date-tab">
					</div>
				</div>
			</div>
		</div> 
	</body>
</html>
