<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<!-- w3c CSS -->
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

		{% load static %}
		<link rel="stylesheet" type="text/css" href={% static "budget/css/detail.css"%}>
		<title>{{ budget.name }}</title>
		<meta charset='utf-8'>
	</head>
	<body>
		<div>
			<a href="/budget/{{year.name}}">上一頁</a>
		</div>
		<h1>{{ budget.name }}份預算表</h1>
		<div class="row">
			<div class="col-sm-4 col-md-3">
				<h2>債務</h2>
				<table class="table table-responsive">
					<thead class=" thead-light">
						<tr>
							<th>項目</th>
							<th>金額</th>
							<th>剩餘</th>
							<th>分配</th>
							<th>狀態</th>
						</tr>
					</thead>
					<tbody>
						{% for debt in budget.debt_set.all %}
							<tr>
								<td>{{ debt.name }}</td>
								<td>{{ debt.value }}</td>
								<td>{{ debt.remain }}</td>
								<td>{{ debt.is_distributed}}</td>
								<form action="pay_debt" method="get">
									<input type="hidden" name="Debt_name" value={{debt.name}}>
								{% if not debt.is_paid %}
									<td><button class="btn btn-danger" type="submit" value="pay_debt">尚未結清</button></td>
								{% else %}
									<td><button class="btn btn-primary disabled" type="button">結清</button></td>
								{% endif %}
								</form>

							</tr>
						{% endfor%}
						<form action="add_debt" method="get">
							<tr>
								<td>
									<input class="form-control" type="text" name="Debt_name">
								</td>
								<td class>
									<input class="form-control"  type="number" name="value">
								</td>
								<td>
									<button class="btn btn-primary" type="submit">submit</button>
								</td>
							</tr>
						</form>
					</tbody>
				</table>
			</div>
			<div class="col-xs-2 col-md-auto">
				<h2>存款</h2>
				<table class="table table-responsive">
					<thead class="thead-light">
						<tr>
							<th> 名稱 </th>
							<th> 金額 </th>
						</tr>
					</thead>
					<tbody>
						{% for deposit in Deposit %}
							<tr>
								<td>{{ deposit.name }}</td>
								<td>{{ deposit.value }}</td>
							</tr>
						{% endfor %}
						<tr>
							<td>總和</td>
							<td id="total_DEPOSIT"></td>
							<script>
									var total_deposit = 0
									{% for deposit in Deposit %}
										total_deposit += {{ deposit.value }};
									{% endfor %}
									document.getElementById("total_DEPOSIT").innerHTML = total_deposit;
							</script>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-xs-3 col-md-auto">
				<h2>備用</h2>
				<table class="table table-responsive">
					<thead class="thead-light">
						<tr>
							<th> 名稱 </th>
							<th> 預算 </th>
							<th> 剩餘 </th>
						</tr>
					</thead>
					<tbody>
						{% for BC in BackupCost%}
						<tr>
							<td>{{ BC.name }}</td>
							<td>{{ BC.value }}</td>
							<td>{{ BC.remain }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="col-xs-3 col-md-auto">
				<h2>生活預算</h2>
				<table class="table table-responsive">
					<thead class="thead-light">
						<tr>
							<th> 名稱 </th>
							<th> 預算 </th>
							<th> 剩餘 </th>
						</tr>
					</thead>
					<tbody>
						{% for LC in LivingCost%}
						<tr>
							<td>{{ LC.name }}</td>
							<td>{{ LC.value }}</td>
							<td>{{ LC.remain }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="col-xs-2 col-md-auto category">
				<h2>分類</h2>
				<table class="table table-responsive">
					<thead class="thead-light">
						<tr>
							<th> 分類 </th>
							<th> 總花費 </th>
						</tr>
					</thead>
					<tbody>
						{% for c_name, value in CHOICES.items %}
						<tr>
							<td> {{ c_name }} </td>
							<td> {{ value }} </td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-md-5">
				<h2> 收入 </h2>
				<table class="table table-responsive">
					<thead class="thead-light">
						<tr>
							<th> 日期 </th>
							<th> 名稱 </th>
							<th> 金額 </th>
							<th> 所屬資產 </th>
							<th> 扣除債務 </th>
						</tr>
					</thead>
					<tbody>
						{% for Income in Incomes %}
							<tr>
								<td>{{ Income.date }}</td>
								<td>{{ Income.name }}</td>
								<td>{{ Income.value }}</td>
								<td>{{ Income.bank }}</td>
								<td>{{ Income.remain }}</td>
							</tr>
						{% endfor %}
						<tr>
							<td></td>
							<td>總和</td>
							<td id=total_income></td>
							<td></td>
							<td id=total_income_remain></td>
							<script>
									var total_income = 0
									var total_income_remain = 0
									{% for income in Incomes %}
										total_income += {{ income.value }};
										total_income_remain += {{ income.remain }};
									{% endfor %}
									document.getElementById("total_income").innerHTML = total_income;
									document.getElementById("total_income_remain").innerHTML = total_income_remain;
							</script>
						</tr>
						<form action="add_income" method="get" >
							<tr>
								<td>
									<input class="form-control" type="date" name="date" id=theDate>
									<script>
										var date = new Date();
										var day = date.getDate();
										var month = date.getMonth() + 1;
										var year = date.getFullYear();
										if (month < 10) month = "0" + month;
										if (day < 10) day = "0" + day;
										var today = year + "-" + month + "-" + day;       
										document.getElementById("theDate").value = today;
									</script>
								</td>
								<td>
									<input class="form-control" type="text" name="name">
								</td>
								<td>
									<input class="form-control" type="number" name="value">
								</td>
								<td>
									<select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="Bank_name">
										<option selected>Choose...</option>
										{% for bank in Bank %}
											<option>{{ bank.name }}</option>
										{% endfor %}
									</select>
								</td>
								<td>
									<button  class="btn btn-primary" type="submit">submit</button>
								</td>
							</tr>
						</form>
					</tbody>
				</table>
			</div>
			<div class="col-xs-6 col-md-5">
				<h2> 支出 </h2>
				<table class="table table-responsive">
					<thead class="thead-light">
						<tr>
							<th> 日期 </th>
							<th> 名稱 </th>
							<th> 金額 </th>
							<th> 所屬資產 </th>
							<th> 分類 </th>
							<th></th>
						</tr>
					</thead>	
					<tbody>
						{% for expense in Expenses %}
							<tr>
								<td>{{ expense.date }}</td>
								<td>{{ expense.name }}</td>
								<td>{{ expense.value }}</td>
								<td>{{ expense.bank }}</td>
								<td>{{ expense.get_category_display }}</td>
								<td></td>
							</tr>
						{% endfor %}
						<form action="add_expense" method="get" >
							<tr>
								<td>
									<input class="form-control" type="date" name="date" id=theDate1>
									<script>
										var date = new Date();
										var day = date.getDate();
										var month = date.getMonth() + 1;
										var year = date.getFullYear();
										if (month < 10) month = "0" + month;
										if (day < 10) day = "0" + day;
										var today = year + "-" + month + "-" + day;       
										document.getElementById("theDate1").value = today;
									</script>
								</td>
								<td>
									<input class="form-control" type="text" name="name" >
								</td>
								<td>
									<input class="form-control" type="number" name="value" >
								</td>
								<td>
									<select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="Bank_name">
										<option selected>Choose...</option>
										{% for bank in Bank %}
											<option>{{ bank.name }}</option>
										{% endfor %}
									</select>
								</td>
								<td>
									<select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="Category_name">
										<option selected>Choose...</option>
										{% for c_name, value in CHOICES.items %}
											<option>{{ c_name }}</option>
										{% endfor %}
									</select>
								</td>
								<td>
									<button class="btn btn-primary" type="submit">submit</button>
								</td>
							</tr>
						</form>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
