{% extends 'budget/base.html' %}

{% block budget %}
	{% for budget in Budget %}
		<li><a href="/budget/{{budget.id}}">{{ budget }}</a></li>
	{% endfor %}
{% endblock %}

{% block asset %}
	<h1> 資產 </h1>
	{% if Bank%}
		<table class="table table-responsive">
		<thead class=" thead-light">
			<tr>
				<th>銀行</th>
				<th>剩餘</th>
			</tr>
		</thead>
		<tbody>
		{% for bank in Bank %}
			<tr>
				<td>{{ bank.name }}</td>
				<td>{{ bank.value }}</td>
			</tr>
		{% endfor %}
				<tr>
					<td>總和</td>
					<td id="total_bank"></td>
					<script>
						var x = 0;
						{% for bank in Bank %}
							x += {{ bank.value }};
						{% endfor %}
						document.getElementById("total_bank").innerHTML = x;
					</script>
				</tr>
			<tbody>
		</table>
	{% endif %}
{% endblock %}

{% block asset_transfer %}
	<form action="asset_transfer" method="post" >
		<h1>資產轉移</h1>
		<div>
			<div>
				<div class="form-group row">
					<h4>from</h4>
					<div class="col-sm-2">
					<select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="bank_src">
						{% for bank in Bank %}
							<option>{{ bank.name }}</option>
						{% endfor %}
					</select>
					</div>
					<h4>transfer</h4>
					<div class="col-sm-3">
						<input class="form-control" type='number' name='value' placeholder="金額">
					</div>
					<h4>to</h4>
					<div class="col-sm-2">
					<select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="bank_dst">
						{% for bank in Bank %}
							<option>{{ bank.name }}</option>
						{% endfor %}
					</select>
					</div>
					<div class="col-sm-2">
						<button class="btn btn-primary" type="submit">submit</button>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
